<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <title>All Rooms</title>
  </head>
  <body>
    <div id="app" class="row mt-5">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="card">
          <p class="card-header">Display list of all the rooms in Real-Time</p>
          <div class="card-body">
            <table class="table align-middle mb-0 bg-white">
              <thead class="bg-light">
                <tr>
                  <th>Name</th>
                  <th>Host</th>
                  <th>Last Message</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="post in posts">
                  <td>
                    <p class="fw-normal mb-1">[[ post.name]]</p>
                  </td>
                  <td>
                    <span
                      class="badge rounded-pill d-inline"
                      :class="{'bg-success': post.status !== 'Draft', 'bg-warning': post.status === 'Draft'}"
                    >
                      [[ post.host]]
                    </span>
                  </td>
                  <td>[[ post.last_message]]</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    >
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script>
    vueApp = new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data() {
            return {
                posts: [],
            };
        },
    });
    
      const token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjkzMjIyNjM2LCJpYXQiOjE2OTMxMzYyMzYsImp0aSI6IjAwZTNlMjI3ZjA5YTQxODY4ZmE3Y2M1NTQzOGI5YmZmIiwidXNlcl9pZCI6IjE2NzA5MmZjLWQ5NGEtNDRjOC04ZTQ1LTQyMzkxZjllNmY4ZiJ9.graD5ygsmpjWHx-DWE7pwyxGwekAepZ2Tsf3qB6x8N0'
      {% comment %}var ws = new WebSocket("ws://localhost:8000/ws/rooms/", [{% endcomment %}
      {% comment %}'Authorization: Bearer ' + token{% endcomment %}
      {% comment %}]);{% endcomment %}
      var ws = new WebSocket("ws://localhost:8000/ws/rooms/");

      ws.onopen = function (e) {
        ws.send(
          JSON.stringify({
            action: "list",
            request_id: new Date().getTime(),
          })
        );
      };

      ws.onmessage = function (e) {
        allData = JSON.parse(e.data);
        if (allData.action === "list") {
          vueApp.$data.posts = allData.data;
          vueApp.$forceUpdate();
        } else if (allData.action === "create") {
          vueApp.$data.posts.push(allData.data);
        }
      };
    </script>
  </body>
</html>