<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Chat Rooms</title>
</head>
<body>
<h4>Hi - <span id="username"></span></h4>
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">

<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
<script>
    const room_pk = "{{ room.pk }}";
    const request_id = new Date().getTime()
    const token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjkzMDQ1OTc1LCJpYXQiOjE2OTI5NTk1NzUsImp0aSI6IjBmMzIzYzI4ZTcwMzRlMGVhNmRjOGIyZWM0Y2NlZDQ1IiwidXNlcl9pZCI6IjRlZTliNTM2LWJkNGYtNDgyZS04NWFhLTc1OGJhNjhiNDQxOSJ9.-IvmzNgWj5esmyNFe13LCrWZhcBLOq7TszYW9YVXdRE'
    console.log(room_pk)
    console.log(request_id)
    console.log("request", '{{request}}')
    const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/`,[
    'Authorization: Bearer ' + token
]);

    chatSocket.onopen = function () {
        chatSocket.send(
            JSON.stringify({
                pk: room_pk,
                action: "join_room",
                request_id: request_id,
            })
        );
        chatSocket.send(
            JSON.stringify({
                pk: room_pk,
                action: "retrieve",
                request_id: request_id,
            })
        );
        chatSocket.send(
            JSON.stringify({
                pk: room_pk,
                action: "subscribe_to_messages_in_room",
                request_id: request_id,
            })
        );
        chatSocket.send(
            JSON.stringify({
                pk: room_pk,
                action: "subscribe_instance",
                request_id: request_id,
            })
        );
    };

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log('RealTime', data.data)
        switch (data.action) {
            case "retrieve":
                console.log(data.data)
                document.getElementById('username').innerText = data.data.host.username
                for (let mess of data.data.messages) {
                    console.log(mess.text)
                }

                //setRoom(old =>data.data);
                //setMessages(old=>data.messages);
                break;
            case "create":
                console.log(data.action, data.data)
                //setMessages(old=>[...old, data])
                break;
            default:
                break;
        }
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    $('#chat-message-input').focus();
    $('#chat-message-input').on('keyup', function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    });
    $('#chat-message-submit').on('click', function (e) {
        const message = $('#chat-message-input').val();
        chatSocket.send(JSON.stringify({
            message: message,
            action: "create_message",
            request_id: request_id,
        }));
        $('#chat-message-input').val('');
    });
</script>

</body>
</html>