<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
  <div style="max-width: 550px; font-size: 1em">
    <div style="margin-bottom: 10px;min-height: 27px;">
      <img style="display: inline;" src="assets/bookmark.svg" alt="">
      <div style="width: 90%; display: inline-block;">
        <div style="display: inline; font-size: 12px;">Your WL account verification <b>WL<b/>: </div>
        
        <div style="font-size: 12px; font-weight: bold; display: inline;">{{ verification_link }}</div>
      </div>
    </div>
    <div style="display: flex;  margin-bottom: 10px;min-height: 27px;">
      <div style="height: 100%">
        <img style="display: inline; margin-right: 8px;" src="assets/profileicon.svg" alt="">
      </div>
    </div>
  </div>
</body>
</html>



